body {
    font-family: 'Assistant', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll; /*this line is op*/
}

/*HEADER*/
.navigation-nav {
    margin-top: 30px;
    width: 50%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 0 40px;
    text-align: center;

}

.navigation-list {
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
}

.navigation-list li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;
}

.navigation-list a {
    text-decoration: none;
    color: black;
}

.web-img-div {
    text-align: center;
}
.website-image {
    display: block;
    margin: auto;
    width: 55px;
    padding-bottom: 8px;
}

.eye {
    height: 33px;
    transform: translateY(10px);
}

.horizontal-line {
    width: 50%;
}

.to-top {
    transition: all .9s;
}

.to-top-image {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    width: 80px;
    height: 80px;
}

html{
    scroll-behavior: smooth;
}

.hamburger {
    display: none;
}

.hamburger img {
    margin: 20px 0;
    width: 25px;
}

@media (max-width: 1350px) {
    .navigation-nav {
        display: none;

    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation-nav.active {
        display: block;
    }

    .hamburger.active {
        padding-bottom: 60px;
    }

    .navigation-nav.active .navigation-list li {
        display: block;
        margin: 7px;
      }
    
    .navigation-list li {
        display: block;
        transform: translateY(-70px);
    }
}


/*INDEX*/
.intro-box {
    width: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 25px;
}

.intro-portrait {
    width: 40%;
}

.intro-text {
    padding: 0 40px;
}

.name {
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 1350px) {
    .intro-box {
        flex-direction: column;
        align-items: center;
      }
    
      .intro-portrait {
        width: 80%;
      }
  
      .intro-text {
          width: 80%;
      }
}

/*EXPERIENCE*/
.one-work {
    margin: auto;
    width: 45%;
    text-align: left;
    font-size: 14px;
    padding: 25px 0;
}

.one-work h1{
    padding-left: 37px;
    font-size: 20px;
    margin: 0;
}

/*PROJECTS*/
.project-desc {
    margin-left: 45px;
    text-align: left;
    font-size: 14px;
    margin: 0;
    
}

.project-desc h2 {
    padding-left: 37px;
    margin: 0;
    font-size: 20px;
}

.project-desc ul {
    margin: 0;
}
.one-project {
    display: flex;
    width: 45%;
    margin: auto;
    align-items: top;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.process-video-link {
    text-decoration: none;
    color: black;
}

.slideshow {
    padding-bottom: 50px;
    width: 32%;
    text-align: center; 
}

.slideshow-elements {
    position: relative;
}

.slideshow-images {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
}

.slideshow-images img {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    object-fit: cover;
}

.slideshow-nav {
    position: absolute;
    display: flex;
    column-gap: 10px;
    bottom: -50px;
    left: 50%;  
    transform: translateX(-50%);
    align-items: center;
}

.slideshow-nav img {
    width: 60px;
}

.slideshow-nav a {
    opacity: 0.6;
    transition: opacity ease 200ms;
}

.slideshow-nav a:hover {
    opacity: 1;
}    

.last-text {
    margin: auto;
    width: 42%;
    text-align: center;
    font-size: 13px;
}

.process-video-link {
    text-decoration: none;
    color: black;
}

@media (max-width: 1350px) {
    .one-project {
        flex-direction: column;
        align-items: center;
      }
    
      .slideshow {
        width: 100%;
      }
  
      .project-desc {
          width: 100%;
      }
}

/*EYE*/
.eye-image {
    padding-top: 125px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*CONTACTS*/
.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin:auto;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-1-text {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 20px;
}

.contact-1-button {
    background-color: white;
    border-style: none;
    cursor: pointer;
    padding: 0;
    margin: 0 8px;
}

.contact-1-button img {
    width: 40px;
}

.contact-1-img {
    position: relative;
    text-align: center;
}

.contact-text {
    padding: 4px 8px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
    font-family: 'Assistant';
    text-decoration: none;
    transform: translateY(-5px);
    color: black;
}

.contact-1-button:hover .contact-text {
    opacity: 1;
}

.contact-1-img a {
    text-decoration: none;
}

/*Welcome to white space. You have been living here for as long as you can remember.
If you get this reference we can be besties :D*/
.white-space {
    height: 25px;
}
